<p>login-page works!</p>

<form [formGroup]="myForm" (ngSubmit)="submit()">
  <h2>Administrator is Login</h2>

  <div class="form-control">
    <label>Email</label>
    <input id="email" type="email" formControlName="email"/>
    <div>
      <small *ngIf="myForm.controls['email'].touched &&
       myForm.controls['email'].invalid">
        Enter email
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Password</label>
    <input id="password" type="password" formControlName="password"/>
    <div>
      <small *ngIf="myForm.controls['password'].touched &&
       myForm.controls['password'].invalid">
        Password must be more than 4 characters
      </small>
    </div>

    <button class="btn btn-primary btn-block" [disabled]="myForm.invalid" type="submit">Login</button>
  </div>

</form>
